<section>
  <div class="container">
    <div class="portfolio-comp mt-5 py-5">
      <h2 class="mt-4">MY PORTFOLIO</h2>
      <div class="star-icon my-2"><i class="fa-solid fa-star"></i></div>
      <div class="port-gallery row g-5 justify-content-center mt-1">
        @for (projImg of projImgs; track $index) {
        <div class="col-md-6 col-lg-4">
          <figure class="port-img shadow-sm">
            <img
              [src]="projImg"
              class="w-100"
              alt=""
              (click)="openProj($event)"
            />
          </figure>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="layer-box" [class.d-none]="!isClicked" (click)="closeBox()">
    <div class="box">
      <img [src]="imgSrc" class="w-100 rounded-4" alt="" />
    </div>
    <p class="text-center lead bg-white w-50 p-3 rounded-4 fw-bold opacity-75">
      {{ imgDesc }}
    </p>
  </div>
</section>
